.MenuHorizontal__container.yy-menu {
  flex: 1 1 auto;
}

.MenuHorizontal__container.yy-menu {
  border: none;
}

.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal .yy-menu-item:hover,
.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal
  .yy-menu-submenu:hover
  .yy-menu-submenu-title {
  color: var(--yy-menu-horizontal-item-selected-color);
}
.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal .yy-menu-item::after,
.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal
  .yy-menu-submenu::after {
  display: none;
}
.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal
  .yy-menu-item-selected::after,
.MenuHorizontal__container.yy-menu-root.yy-menu-horizontal
  .yy-menu-submenu-selected::after {
  display: block;
}

/* Submenu */
.MenuHorizontal__submenu.yy-menu .yy-menu.yy-menu-sub.yy-menu-vertical {
  max-height: initial;
}

.MenuHorizontal__submenu.yy-menu .yy-menu-item.yy-menu-item-selected {
  color: var(--yy-menu-item-color);
}

.MenuHorizontal__submenu.yy-menu .yy-menu-item.yy-menu-item-selected {
  background-color: initial;
}

.MenuHorizontal__submenu.yy-menu .yy-menu-item.yy-menu-item-selected:hover,
.MenuHorizontal__submenu.yy-menu.yy-menu-submenu-popup.yy-menu-submenu
  .yy-menu-item:active {
  background-color: var(--yy-menu-item-hover-bg);
}

.MenuHorizontal__container [hidden] {
  display: none !important;
}
