/* Ghost */
.Button__container.yy-btn-background-ghost.Button--default:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-default-border-color);
  color: var(--yy-color-text);
}
.Button__container.yy-btn-background-ghost.Button--default:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-default-border-primary-hover);
  color: var(--yy-color-primary-hover);
}
.Button__container.yy-btn-background-ghost.Button--default:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-default-border-primary-active);
  color: var(--yy-color-primary-active);
}

.Button__container.yy-btn-background-ghost.Button--primary:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-primary-border-color);
  color: var(--yy-color-primary);
}
.Button__container.yy-btn-background-ghost.Button--primary:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-primary-border-primary-hover);
  color: var(--yy-color-primary-hover);
}
.Button__container.yy-btn-background-ghost.Button--primary:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-primary-border-primary-active);
  color: var(--yy-color-primary-active);
}

.Button__container.yy-btn-background-ghost.Button--success:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-success-border-color);
  color: var(--yy-color-success);
}
.Button__container.yy-btn-background-ghost.Button--success:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-success-border-success-hover);
  color: var(--yy-color-success-hover);
}
.Button__container.yy-btn-background-ghost.Button--success:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-success-border-success-active);
  color: var(--yy-color-success-active);
}

.Button__container.yy-btn-background-ghost.Button--error:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-error-border-color);
  color: var(--yy-color-error);
}
.Button__container.yy-btn-background-ghost.Button--error:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-error-border-error-hover);
  color: var(--yy-color-error-hover);
}
.Button__container.yy-btn-background-ghost.Button--error:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-error-border-error-active);
  color: var(--yy-color-error-active);
}

.Button__container.yy-btn-background-ghost.Button--info:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-info-border-color);
  color: var(--yy-color-info);
}
.Button__container.yy-btn-background-ghost.Button--info:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-info-border-info-hover);
  color: var(--yy-color-info-hover);
}
.Button__container.yy-btn-background-ghost.Button--info:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-info-border-info-active);
  color: var(--yy-color-info-active);
}

.Button__container.yy-btn-background-ghost.Button--warning:not(:disabled):not(
    .yy-btn-disabled
  ) {
  border-color: var(--yy-button-warning-border-color);
  color: var(--yy-color-warning);
}
.Button__container.yy-btn-background-ghost.Button--warning:not(:disabled):not(
    .yy-btn-disabled
  ):hover {
  border-color: var(--yy-button-warning-border-warning-hover);
  color: var(--yy-color-warning-hover);
}
.Button__container.yy-btn-background-ghost.Button--warning:not(:disabled):not(
    .yy-btn-disabled
  ):active {
  border-color: var(--yy-button-warning-border-warning-active);
  color: var(--yy-color-warning-active);
}
