/* #region Set every nodes has height full */
.Table__container.yy-table-wrapper,
.Table__container.yy-table-wrapper .yy-spin-nested-loading {
  height: 100%;
}

.Table__container.yy-table-wrapper .yy-table-pagination {
  background-color: var(--yy-color-bg-container);
  border: var(--yy-line-width) var(--yy-line-type) var(--yy-table-border-color);
  border-bottom-left-radius: var(--yy-table-header-border-radius);
  border-bottom-right-radius: var(--yy-table-header-border-radius);
  border-top: none;
  margin: 0;
  padding: var(--yy-table-cell-padding-block)
    var(--yy-table-cell-padding-inline);
}
/* #endregion */

/* #region Total text */
.Table__container.yy-table-wrapper
  .yy-table-pagination
  .yy-pagination-total-text {
  flex-basis: 100%;
  margin: 0;

  @media (min-width: 768px) {
    flex: 1 1 0%;
  }
}

.Table__text-range--highlight {
  background-color: transparent;
  color: var(--yy-table-header-color);
  color: var(--yy-color-text);
  font-weight: var(--yy-font-weight-strong);
  padding: 0px;
}
/* #endregion */

/* #region Sticky pagination */
.Table--paginationSticky.yy-table-wrapper .yy-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Table--paginationSticky.yy-table-wrapper .yy-table {
  background-color: transparent;
  flex: 1;
}
.Table--paginationSticky.yy-table-wrapper .yy-table {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .Table--paginationSticky.yy-table-wrapper .yy-table {
    margin-bottom: 32px;
  }
}

.Table--paginationSticky.yy-table-wrapper .yy-table-container {
  background-color: var(--yy-color-bg-container);
}

.Table--paginationSticky.yy-table-wrapper .yy-table-pagination {
  border: none;
  border-radius: 0;
  border-top: var(--yy-line-width) var(--yy-line-type)
    var(--yy-table-border-color);
  bottom: 0;
  flex-shrink: 0;
  justify-content: center;
  position: sticky;
  text-align: center;
  z-index: 10;
  @media (min-width: 768px) {
    justify-content: space-between;
    text-align: left;
  }
}
/* #endregion */
