.FixedProgressLoader__container {
  height: 4px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}

.FixedProgressLoader__bar {
  background-color: var(--yy-color-primary);
  height: 100%;
}

.FixedProgressLoader__container--hidden {
  visibility: hidden;
}
