.ImageFilesListHorizontal__container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.ImageFilesListHorizontal__item {
  border: var(--yy-line-width) var(--yy-line-type) var(--yy-color-border);
  border-radius: var(--yy-border-radius-lg);
  height: calc(var(--yy-control-height-lg) * 2.55);
  padding: var(--yy-padding-xs);
  width: calc(var(--yy-control-height-lg) * 2.55);
}

.ImageFilesListHorizontal__item .ImageFilesListHorizontal__image {
  background-color: var(--yy-color-fill-alter);
  border-radius: var(--yy-border-radius-sm);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.ImageFilesListHorizontal__item .ImageFilesListHorizontal__image img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.ImageFilesListHorizontal__actions {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.ImageFilesListHorizontal__delete {
  transition: 0.2s color;
}
.ImageFilesListHorizontal__delete:hover {
  color: var(--yy-color-error);
}

.ImageFilesListHorizontal__download {
  transition: 0.2s color;
}
.ImageFilesListHorizontal__download:hover {
  color: var(--yy-color-link);
}
